<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yskysoar.mapper.AbsentMapper">

    <select id="list" resultType="Absent">
        SELECT a.id,
               b.name        AS buildingName,
               d.name        AS dormitoryName,
               s.name        AS studentName,
               a.reason,
               da.name       AS dormitoryAdminName,
               a.create_date AS createDate
        FROM dormitory d,
             student s,
             building b,
             absent a,
             dormitory_admin da
        WHERE d.id = a.dormitory_id
          AND s.id = a.student_id
          AND b.id = a.building_id
          AND da.id = a.dormitory_admin_id;
    </select>

    <select id="searchByBuildingName" resultType="Absent">
        SELECT a.id,
               b.name        AS buildingName,
               d.name        AS dormitoryName,
               s.name        AS studentName,
               a.reason,
               da.name       AS dormitoryAdminName,
               a.create_date AS createDate
        FROM dormitory d,
             student s,
             building b,
             absent a,
             dormitory_admin da
        WHERE d.id = a.dormitory_id
          AND s.id = a.student_id
          AND b.id = a.building_id
          AND da.id = a.dormitory_admin_id
          AND b.name LIKE CONCAT('%', #{value}, '%');
    </select>

    <select id="searchByDormitoryName" resultType="Absent">
        SELECT a.id,
               b.name        AS buildingName,
               d.name        AS dormitoryName,
               s.name        AS studentName,
               a.reason,
               da.name       AS dormitoryAdminName,
               a.create_date AS createDate
        FROM dormitory d,
             student s,
             building b,
             absent a,
             dormitory_admin da
        WHERE d.id = a.dormitory_id
          AND s.id = a.student_id
          AND b.id = a.building_id
          AND da.id = a.dormitory_admin_id
          AND d.name LIKE CONCAT('%', #{value}, '%');
    </select>

    <insert id="save">
        INSERT INTO absent (building_id, dormitory_id, student_id, dormitory_admin_id, create_date, reason)
        VALUES (#{buildingId}, #{dormitoryId}, #{studentId}, #{dormitoryAdminId}, #{createDate}, #{reason});
    </insert>

</mapper>
